$colour1: #112055;
$colour2: #4f9d92; 
$colour3: lighten($colour1,20%);
$colour4: darken($colour1,30%);

.box_all{
 padding: 10px;
 border-radius: 5px;   
 box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
 }  
  
.box__wrapper {
  .box-primary {
    &:hover {
    box-shadow: none;
    }
  }
 .box-primary-lighter {
    &:hover {
    box-shadow: none;
   }
  }  
  .box-primary-darker {
    &:hover {
    box-shadow: none;
  }
 }
.box-secondary {
    &:hover {
    box-shadow: none;
  }
 }
}
  
.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.box-primary {
  @extend %box_all !optional;
  background-color: $colour1;
  color: #fff;
}

.box-primary-lighter {
  @extend %box_all !optional;
  background-color: $colour3;
}

.box-primary-darker {
   @extend %box_all !optional;
   background-color: $colour4;
}

.box-secondary {
    @extend %box_all !optional;
  background-color: $colour2;
  color: #000;
}